<div class="sign-in-form">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :"メールアドレス", class: 'sign-in-label' %>
    <%= f.text_field :email, class: 'sign-in-input' %>

    <%= f.label :"パスワード", class: 'sign-in-label' %>
    <%= f.text_field :password, class: 'sign-in-input' %>
    <%= f.submit :"ログイン", class: 'sign-in-submit btn btn-primary' %>
  <% end %>
</div>
