<div class="container">
  <%= render 'threaders/left-side' %>
  <div class="posts-section">
    <% @posts.each do |post| %>
      <%= render 'users/user_info', model: post %>
      <div class="post-content">
        <%= link_to "/posts/#{post.hash_id}", {style:"color:black; text-decoration:none;"} do %>
          <p><%= post.content %></p>
          <% if post.image_file.url %>
            <%= image_tag(post.image_file.url, class: "post-image") %>
          <% end %>
        <% end %>
        <hr color="black">
      </div>
    <% end %>
  </div>
  <div class="footer">
  </div>
</div>
