<div class="container">
  <div class="side">
  </div>
  <div class="posts-section">
    <% @post.each do |post| %>
      <div class="post-user-info">
        <%= link_to "/users/#{post.user.hash_id}", {style:"color:black; text-decoration:none;"} do %>
          <% if post.user.image_file %>
            <%= image_tag("users/#{post.user.hash_id}", class:"post-user-image")%>
          <% end %>
          <span><%= post.user.name %></span>
        <% end %>
      </div>
      <div class="post-content">
        <p><%= post.content%></p>
        <% if post.image_file.url %>
          <%= image_tag(post.image_file.url, class: "post-image", size: "500x250") %>
        <% end %>
        <hr color="red">
      </div>
    <% end %>
  </div>
</div>
