<div class="container">
  <div class="left-side">
  </div>
  <div class="posts-section">
    <% @posts.each do |post| %>
      <div class="post-user-info">
        <%= link_to "/users/#{post.user.hash_id}", {style:"color:black; text-decoration:none;"} do %>
          <% if post.user.image_file %>
            <%= image_tag("users/#{post.user.hash_id}", class:"post-user-image")%>
          <% end %>
          <span><%= post.user.name %></span>
          <span class="posted-month"><%= post.created_at.strftime('%Y/%m/%d') %></span>
          <span class="posted-time"><%= post.created_at.strftime('%H時%-M分%-S秒')%></span>
        <% end %>
      </div>
      <div class="post-content">
        <%= link_to "/posts/#{post.hash_id}", {style:"color:black; text-decoration:none;"} do %>
          <p><%= post.content %></p>
          <% if post.image_file.url %>
            <%= image_tag(post.image_file.url, class: "post-image") %>
          <% end %>
        <% end %>
        <hr color="black">
      </div>
    <% end %>
  </div>
  <div class="footer">
  </div>
</div>
