<div class="container">
  <%= render 'threaders/left-side' %>
  <div class="post-show-selection">
    <%= render 'users/user_info', model: @post %>
    <% if !@post.image_file.file.nil? %>
      <%= image_tag(@post.image_file.url, class: "post-show-image")%>
    <% end %>
    <div class="post-show-content">
      <p><%= @post.content %></p>
    </div>
    <%= render 'posts/comment', id: @post.hash_id %>
  </div>
</div>

