<header class="top-page-header">
  <%= link_to "/posts", {style:"text-decoration:none;"} do %>
    <h2>idol share</h2>
  <% end %>
  <% if logged_in? %>
    <div class="header-left">
      <ul>
        <li><%= link_to 'タイムライン', '/posts' %></li>
        <li><%= link_to 'スレッド', '/threaders' %></li>
        <li><a href="#">NEWS</a></li>
      </ul>
    </div>
    <div class="header-right">
      <%= search_form_for @user_search, url: "/users/result"  do |f|%>
        <%= f.search_field :name, class: "form-control", placeholder: "ユーザー検索"%>
      <% end %>
      <% if @current_user.image_file %>
        <%= link_to user_path(@current_user.hash_id) do %>
          <%= image_tag("users/#{@current_user.hash_id}.jpg") %>
        <% end %>
      <% else %>
        <%= link_to("/users/#{@current_user.hash_id}") do %>
          <img class="user-icon" src="http://www.teppan.co/images/success/default.png">
        <% end %>
      <% end %>
      <%= link_to "投稿する", "/posts/new", class:"btn btn-danger" %>
    </div>
  <% else %>
    <ul>
      <li><%= link_to "新規登録", "/users/new"%></li>
      <li><%= link_to "ログイン", "/login"%></li>
    </ul>
  <% end %>
</header>
